* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: initial;
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: white;
}

@layer base {
  NavLink {
    @apply no-underline;
  }
}

.listitemAllAnime {
  background-image: url("./Media/hexagon.png");
}

/* .tileDiv:hover {
  border: 1px solid #8b5cf6;
} */

.hexagonDivUnselected {
  background-image: linear-gradient(
    to right,
    rgba(34, 34, 34, 1) 95%,
    rgba(34, 34, 34, 0)
  );
}

.hexagonDiv {
  position: relative;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgba(37, 37, 37, 1) 95%,
    rgba(37, 37, 37, 0)
  );
  animation: example 3s linear;
  animation-fill-mode: forwards;
}

@keyframes example {
  100% {
    transform: translateX(-1000px);
    animation-play-state: paused;
  }
}

#animeAboutCoverImageGradient {
  mask-image: linear-gradient(to bottom, black 0vh, transparent 100vh);
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.css-zvr5g7-MuiButtonBase-root-MuiTab-root {
  color: white;
}
